@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: hsl(216, 12%, 8%);
  padding: 100px 0;
}

* {
  font-family: 'Overpass', sans-serif;
}

body > div {
  background-color: hsl(213, 19%, 18%);
  padding: 25px 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 320px;
}

.container-2 {
  text-align: center;
  display: none;
}

h2 {
  font-size: 1.7rem;
}

h2,
input:hover,
button {
  color: hsl(0, 0%, 100%);
}

p,
input {
  color: hsl(217, 12%, 63%);
}

#star-img {
  padding: 15px;
}

input {
  padding: 15px 20px;
}

input:hover,
button {
  background-color: hsl(25, 97%, 53%);
}

input:hover,
button:hover {
  cursor: pointer;
}

input,
button {
  border-style: none;
}

button {
  margin-top: 2em;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.review {
  margin: 1em auto;
  width: 60%;
  padding: 7px 5px;
  color: hsl(25, 97%, 53%);
}

#star-img,
input,
button,
.review {
  border-radius: 50px;
}

#star-img,
input,
.review {
  background-color: hsla(216, 12%, 54%, 0.1);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (min-width: 376px) {
  body {
    padding-top: 250px;
  }
}